/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

  /* --------------------------
  My CSS Changes
  ----------------------------- */
  
  /* Border & padding inside box dimensions */
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  header {
  background-color: rgb(238 238 238);
  height: 100px;
}

section {
  border: 1px solid #949599;
}

nav {
  height: 30px;
  border: 1px solid #949599;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
}

li {
  display: inline;
}

.menu {
  background-color: black;
  color: white;
}

.menu-link {
  color: white;
}

  /* --------------------------
  CSS Notes and Reminders
  -----------------------------

  Type selectors (0-0-1):

    div {
        ...
    }

Class selectors (0-1-0):

    .class_name {
        ...
    }

ID Selectors (1-0-0):

    #my_id {
        ...
    }

.box_model_properties {
  height: 100px;
  width: 400px;
  padding: 20px; (space between rectangle and border)
  border: 6px solid #949599;
  margin: 20px; (space between two elements)
}

Inline elements 
  - Only have right and left Margins.
  - Have padding in all four sides. 

Block elements:
  - Have margin in all four sides. 
  - Have padding in all four sides.

img {
  float: left;
}
Positions an element to the left or right of its parent element.
