<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavBar</title>
    <script
      src="https://kit.fontawesome.com/1450436a40.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style_intro.css" />
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="#">Web Dev Creative</a></div>
        <ul class="links">
          <li><a href="hero">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
        <a href="#" class="action_btn">Get started</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="dropdown_menu">
        <li><a href="hero">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="#" class="action_btn">Get started</a></li>
      </div>
    </header>

    <main>
      <section id="hero">
        <h1>Welcome</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur <br />
          adipisicing elit. Repellendus, eligendi!
        </p>
      </section>
    </main>

    <script>
      const toggleBtn = document.querySelector(".toggle_btn");
      const toggleBtnIcon = document.querySelector(".toggle_btn i");
      const dropDownMenu = document.querySelector(".dropdown_menu");

      toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle("open");
        const isOpen = dropDownMenu.classList.contains("open");

        toggleBtnIcon.classList = isOpen
          ? "fa-solid fa-xmark"
          : "fa-solid fa-bars";
      };
    </script>
  </body>
</html>
