/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{ 
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: grey;
  color: gainsboro;
  padding: 20px;
  line-height: 1.5;
}