*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin-top: 20px; /* Adjust the margin as needed */
}

.report-table {
  width: 100%; /* Make the table expand to 100% of its container */
  table-layout: auto; /* Let the table adjust column widths based on content */
  margin: 0 auto;
  padding-bottom: 30px;
}

th {
  font-size: 14px; /* Reduce font size for smaller screens if needed */
  text-align: left; /* Align table headings to the left */
}

td {
  padding-left: 5px; /* Reduce cell padding for smaller screens */
  padding-right: 5px; /* Reduce cell padding for smaller screens */
  max-width: 200px; /* Limit maximum cell width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  font-size: 14px; /* Reduce font size for smaller screens if needed */
}

/* Add media query for responsiveness */
@media screen and (max-width: 768px) {
  th {
    font-size: 10px; /* Reduce font size for smaller screens if needed */
  }
  td {
    padding-left: 5px; /* Further reduce cell padding for smaller screens */
    padding-right: 5px; /* Further reduce cell padding for smaller screens */
    max-width: 100px; /* Reduce maximum cell width further */
    font-size: 10px; /* Reduce font size for smaller screens if needed */
  }
}

.logo {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  max-width: 300px;
  margin: 0 auto;
}

.logo img {
  max-width: 100%; /* Ensure the image width never exceeds the container width */
  max-height: 100%; /* Ensure the image height never exceeds the container height */
  display: block; /* Remove any default spacing or margins on the image */
  width: 100%; /* Make sure the image takes the full width of the container */
  height: auto; /* Allow the image to adjust its height proportionally */
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
  background-color: black;
}

form {
  /* max-width: 300px; */
  margin-left: 50px;
  margin-right: 50px;

  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

/* Form code starts here */
.fondo {
  /* max-width: 300px; */
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codigoQr,
.titulo,
.Texto {
  max-width: 100%;
}
/* Form code ends here */

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  display: flex;
  justify-content: center;
  /* margin-left: 50px;
  margin-right: 50px; */
  padding: 19px 10px 18px 10px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 65%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
/* 
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
} */
