/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{ box-sizing: border-box; }

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-image: url('../wallpaper.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, form{
  text-align: center;
  color: whitesmoke;
}

form{
  padding-top: 40px;
}

h2{
  padding-top: 200px;
  font-size: 50px;
  color: #cef284;
  font-weight: bold;
}

button {
  -webkit-font-smoothing: antialiased;
  background-color: black;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;

  display: block;
  margin: 20px auto;
  }

input[type="text"] {
      width: 300px;
      height: 50px;
      text-align: center;
}

.hero{
  color: #cef284;
}