/******************************************
/* Media Queries
/*****************************************/

* {
    border: 1px solid black;
}

/* Small size for Smartphones */
@media screen and (max-width: 1400px) {

    /* Page changes */
    
    /* Header changes */

    /* Main changes */

    /* Services changes */

    .ServicesSection { 
        height: 2000px;
        /* background-color: orange; */
    }

    .aService{
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    
        text-align: center;
        float: none;
        width: 100%;
        margin-top: 1px;
        height: 97%;
        /* background-color: lightblue; */
    }

    /* Video changes */
    .VideoSection {
        clear: both;
    }

    /* Our Team changes */

    /* Offers changes */

    /* LookBook changes */

    }