/******************************************
/* General
/*****************************************/

/* Page settings */
    * {
        /* border: 1px solid black; */
        font-family: 'Source Sans Pro', sans-serif;
        /* font-family: 'Titillium Web', sans-serif; */
        font-family: 'Noto Sans', sans-serif;      
    }

    a:link, a:visited, a:hover, a:active{
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        height: auto;
        margin: 0;
        padding: 0;
    }

    div{
        height: 1em;
    }

    /* Box Model Hack */
    * { box-sizing: border-box; }
    
    /* Clear fix hack */
    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .gray{
        color: #7e8188;
    }

/******************************************
/* Header Section
/*****************************************/

header{
    background-color: #1c2333;
    color: #f7f7fa;
    height: 50px;
}

li{
    background-color: #1c2333;
    color: #f7f7fa;
    width: 7%;
    float: right;
    font-size: 11px;
    font-weight: 600;
    padding-top: 10px;

}

.headerOn{
    font-weight: 800;
}


/******************************************
/* Main Section
/*****************************************/
main{
    background-color: lightcoral;

    height: auto;
}

.mainTextDiv{
    /* background-color: lightgray; */
    background-color: #1c2333;
    color: #f7f7fa;
    height: 550px;
    width: 50%;
    float: left;
}

.mainTextHeading{
    width: 70%;
    margin: 80px auto 20px auto;
    font-size: 26px;
    font-weight: 500;
}

.mainTextDescription{
    width: 70%;
    margin: 0 auto 60px auto;
    font-size: 12px;
    font-weight: 500;
}

.mainTextButton{
    padding: 10px;
    color: #1c2333;
    margin-left: 15%;
    font-size: 10px;
    font-weight: 600;
    background-color: #eceef3;
    border-radius: 6px;
}

.mainTextCreateAccount{
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px;
}

.mainImageDiv{
    background-color: #1c2333;
    height: 550px;
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
}

.mainImageImage{
    max-width: 100%;
    display: inline-block;
    margin: 80px auto 0 auto;
    border: 15px solid white;
    border-radius: 6px;

}

/******************************************
/* How We Help Section
/*****************************************/

.howWeHelp{
    clear: both;
    height: auto;
}

.howWeHelpTextDiv{ 
    /* background-color: red; */
    background-color: #cdcdd1;
    width: 50%;
    height: 500px;
    float: left;
}

.howWeHelpImageDiv{
    background-color: #cdcdd1;
    width: 50%;
    height:500px;
    float: left;
}

.howWeHelpSmallText{
    width: 70%;
    margin: 80px auto 0 auto;
    font-size: 12px;
    font-weight: 600;
}

.howWeHelpHeroText{
    width: 70%;
    margin: 0 auto 20px auto;
    font-size: 26px;
    font-weight: 600;
}

.howWeHelpDescription{
    width: 70%;
    margin: 0 auto 10px auto;
    font-size: 12px;
    font-weight: 500;
}

.howWeHelpImageBox{
    width: 30%;
    height: 200px;
    margin: 30px 50px 0px 50px;
    float: left;
}

.howWeHelpImagePic{
    background-color: #191f2f;
    color: white;
    width: 100%;
    height: 60%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-top: 30%;
    border-radius: 6px 6px 0 0 ;
}

.howWeHelpImageDescription{
    background-color: white;
    width: 100%;
    height: 40%;
    border-radius: 0 0 6px 6px;
}

.howWeHelpImageHeading{
    height: 30%;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

.howWeHelpImageText{
    height: 70%;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 8px;
}

/******************************************
/* Who We Are Section
/*****************************************/

.whoWeAre{
    height: auto;
}


.whoWeAreImageDiv{
    /* background-color: aqua; */
    width: 50%;
    height: 570px;
    float: left;
}

.whoWeAreTextDiv{
    /* background-color: pink; */
    width: 50%;
    height: 570px;
    float: left;
}

.whoWeAreImageImage{
    max-width: 90%;
    text-align: center;
    display: block;
    margin: 10% auto;
}

.howWeHelpTextButton{
    padding: 10px;
    color: #eceef3;
    margin-left: 15%;
    font-size: 10px;
    font-weight: 600;
    background-color: #1c2333;
    border-radius: 6px;
}


/******************************************
/* Core Tecnologies Section
/*****************************************/

/* .coreTecnologies{
    background-color: #1c2333;
    color: #f7f7fa;
} */