/* Styles specific for Confirmation.ejs */

.confirmationSection {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codigoQr,
.titulo,
.Texto {
  max-width: 100%;
}
