h1 {
  color: white;
  text-align: center;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}
.faded {
  opacity: 0.5;
}
.normal {
  opacity: 1;
}

:root {
  --dark-blue: #001329;
  --blue: #002147;
  --orange: #ff7b2fc0;
  --light: #ffffff;
  --grey: #bed8c6;
  --font-lg: 1.2rem;
  --red: #b90025d3;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

.fa-trash {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--blue);
  color: var(--light);
  letter-spacing: 1px;
  padding: 2rem 1rem;
}

header {
  max-width: 800px;
  width: 100%;
  margin: 1rem auto 1.5rem auto;
  text-align: center;
}

header h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

#switch {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--grey);
  text-shadow: 1px 3px 1px var(--dark-blue);
}

#task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0.5rem 0 1rem 0;
}

#task-input {
  flex: 1 1 0%;
  padding: 0.75rem 0.5rem;
  background-color: var(--dark-blue);
  color: var(--light);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

#task-input::placeholder {
  color: var(--grey);
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#task-submit {
  color: var(--light);
  font-weight: 600;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: 0.4s;
}

#task-submit:hover {
  opacity: 0.8;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

#logoutBtn {
  color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

#logoutBtn {
  background-color: var(--red);
  border: 1px solid var(--red);
}

button:hover,
.fa-trash:hover {
  opacity: 0.8;
}

#logoutBtn a {
  color: white; /* Set the text color to white */
  text-decoration: none; /* Remove the underline */
}

ul {
  list-style: none;
}
/* test */

.task-list {
  padding: 1rem 0;
}

.task-list h2 {
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 0.5rem;
}

#tasks {
  display: flex;
  flex-direction: column-reverse;
}

#tasks .task {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--dark-blue);
  border-radius: 0.5rem;
}

@media (min-width: 1000px) {
  #tasks .task {
    padding: 1rem 2rem;
  }
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: var(--light);
  padding-top: 0.5rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  border-bottom: 1px solid var(--grey);
  color: var(--grey);
}

@media (min-width: 768px) {
  .text {
    font-size: var(--font-lg);
  }
}

.task .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.2rem;
}

@media (min-width: 768px) {
  .text .time {
    font-size: var(--font-lg);
  }
}

.task .counter .controls button {
  background-color: var(--orange);
  color: var(--light);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
  transition: 0.4s;
  cursor: pointer;
}

.task .counter .controls button:hover {
  opacity: 0.8;
}

.task .actions {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.task .actions button {
  color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.task .actions .edit,
.download {
  border: 1px solid var(--light);
}

.task .actions .delete {
  background-color: var(--red);
  border: 1px solid var(--red);
}

/********** Index.ejs styles and sign up styles *************/
.login {
  color: white;
  text-align: center;
  border: 2px solid white;
  width: 5rem;
  justify-content: center;
  margin-left: 50%;
  margin-top: 2rem;
  padding: 1rem;
  text-decoration: none;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0.5rem 0 1rem 0;
}

.signup input {
  flex: 1 1 0%;
  padding: 0.75rem 0.5rem;
  background-color: var(--dark-blue);
  color: var(--light);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.signup input::placeholder {
  color: var(--grey);
}

.signup button {
  flex: 1 1 0%;
  padding: 0.75rem 0.5rem;
  background-color: var(--dark-blue);
  color: var(--light);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.signup button::placeholder {
  color: var(--grey);
}
