  /* -----------------------------
  CSS Reset
  ----------------------------- */
/* 
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

  /* --------------------------
             General
  ----------------------------- */
  
  /* Set border & padding inside box dimensions */
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

/* Remove underline from links */
li { display: inline; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

  /* ---------------------------
          Top Menu Bar
  ----------------------------- */

  /* Navigation area */
  nav {
  height: 30px;
  border: 1px solid #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 5px;
  text-align: right;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 11px;
}

/* Navigation Menu */
.menu {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.logo {
  flex-grow: 1;
  height: auto;
}

.main-menu {
  flex-grow: 2;
  height: auto;
}

.menu-link {
  color: white;
  padding: 8px;
  width: 50%;
}

 /* ------------------------------
         Main Advertisement
  ----------------------------- */

/* Main advertisement section */
header {
  background-color: rgb(238 238 238);
  height: 155px;
  font-family:Arial,Helvetica,sans-serif;
  text-align: right;
  font-size: 7px;
  font-weight: bold;
  padding: 7px 100px 0 300px;
  color: rgb(80 80 80);
}

header p{
  padding: 15px 30px 0 0;
}

 /* ------------------------------
         Welcome Bar
  ----------------------------- */

#section_bar {
  height: 35px;
  border: 0px solid #949599;
  font-family: Arial,Helvetica,sans-serif
}
  
#welcome {
  font-size: 12px;
  font-weight: bold;
  color: rgb(80 80 80);
  float: left;
  width: 40%;
  padding-top: 20px;
  padding-left: 30px;
}

#date {
  font-size: 12px;
  font-weight: 60;
  color: rgb(155 155 155);
  float: right;
  padding-top: 20px;
  padding-right: 30px;

}

 /* ---------------------------
          News Main
  ----------------------------- */

#main_news{
  display: flex;
}

.area {
  font-family: Arial,Helvetica,sans-serif;
  background: #909291;
  border-radius: 6px;
  color: #fff;
  display: block;
  padding: 24px 15px;
  text-align: center;
  margin: 1px;
}

.container{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.red{
  /* background-color: red; */
}

#box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 200px;
}

#box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 40%;
}

#box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 40%;
}

#box4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 25%;
}

#box5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 25%;
}











/* #box1 {
  float: left;
  width: 49%;
  height: 200px;
  padding-top: 90px;
}

#box2 {
  float: left;
  width: 25%;
  height: 98px;
  padding-top: 45px;
}

#box3 {
  float: left;
  width: 25%;
  height: 98px;
  padding-top: 45px;
}

#box4 {
  float: left;
  width: 25%;
  height: 98px;
  padding-top: 45px;
}

#box5 {
  float: left;
  width: 25%;
  height: 98px;
  padding-top: 45px;
} */

 /* ---------------------------
  My CSS Changes: Secondary Bar
  ----------------------------- */

.news_secondary{
  clear: both;
  height: 35px;
  border: 0px solid #949599;
  font-size: 12px;
  font-weight: bold;
  color: rgb(80 80 80);
  padding-top: 20px;
  font-family:ReithSans,Arial,Helvetica,freesans,sans-serif;
}

 /* ----------------------------------
  My CSS Changes: Secondary News Block
  --------------------------------- */


#box6 {
  float: left;
  border: 1px solid;
  height: 200px;
  width: 67%;
  background-color: #909291;
  padding-top: 20px;
}

#box7 {
  float: left;
  border: 1px solid;
  height: 60px;
  width: 32%;
  background-color: #909291;
  padding-top: 20px;
}

#box8 {
  float: left;
  border: 1px solid;
  height: 60px;
  width: 32%;
  background-color: #909291;
  padding-top: 20px;
}

#box9 {
  float: left;
  border: 1px solid;
  height: 60px;
  width: 32%;
  background-color: #909291;
  padding-top: 20px;
}


#box10 {
  float: left;
  border: 1px solid;
  height: 60px;
  width: 32%;
  background-color: #909291;
  padding-top: 20px;
}

#box11 {
  float: left;
  border: 1px solid;
  height: 10px;
  width: 32%;
  background-color: #909291;
  padding-top: 10px;
}

#box12 {
  float: left;
  border: 1px solid;
  height: 10px;
  width: 32%;
  background-color: #909291;
  padding-top: 10px;
}

#box13 {
  float: left;
  border: 1px solid;
  height: 10px;
  width: 32%;
  background-color: #909291;
  padding-top: 10px;
}

#box14 {
  float: left;
  border: 1px solid;
  height: 10px;
  width: 32%;
  background-color: #909291;
  padding-top: 10px;
}

#box15 {
  float: left;
  border: 1px solid;
  height: 10px;
  width: 32%;
  background-color: #909291;
  padding-top: 10px;
}

#box16 {
  float: left;
  border: 1px solid;
  height: 10px;
  width: 32%;
  background-color: #909291;
  padding-top: 10px;
}

#box17 {
  float: left;
  border: 0px solid;
  height: 200px;
  width: 32%;
  background-color: rgb(238 238 238);
  padding-top: 10px;
  color: rgb(80 80 80);
  font-size: 7px;
  font-weight: bold;
  text-align: right;
  font-family:ReithSans,Arial,Helvetica,freesans,sans-serif;
}

header {
  background-color: rgb(238 238 238);
  height: 155px;
  font-family:ReithSans,Arial,Helvetica,freesans,sans-serif;
  text-align: right;
  font-size: 10px;
  font-weight: bold;
  padding-top: 7px;
  padding-right: 5px;
  color: rgb(80 80 80);
}

  /* --------------------------
  CSS Notes and Reminders
  -----------------------------

  Type selectors (0-0-1):

    div {
        ...
    }

Class selectors (0-1-0):

    .class_name {
        ...
    }

ID Selectors (1-0-0):

    #my_id {
        ...
    }

.box_model_properties {
  height: 100px;
  width: 400px;
  padding: 20px; (space between rectangle and border)
  border: 6px solid #949599;
  margin: 20px; (space between two elements)
}

Inline elements:
  - Only have right and left Margins.
  - Have padding in all four sides. 

Block elements:
  - Have margin in all four sides. 
  - Have padding in all four sides.

Floats:
  img {
    float: left;
  }

  - Positions an element to the left or right of its parent element.
  - If no element is present, it wil float to the end of the page.
  - Width of the element == width of the content within it.
  - We can change this with "width xx%;" property.
  - We can also add a margin to improve how it looks.
  - When you float an inline element, it becomes like a block element.

  Three columns:
    - Float all three to the left and make width 30%.
    - Not 1/3 exact because of margins.

  Two columns:
    - Float one to the left and another to the right.
    - Make width 63% and 30%. Not to 100 because of margins.

  Float problems:
    - Proper styles might not render
    - Margin and padding might be wrong
    - Unwanted content may wrap around

  Floats were designed to allow content to wrap around an image.
  To prevent content from wrapping around floated elements we need to 'clear'.
 
  div {
  clear: left/right/both;
  }
  
  Left clears left floats, right clears right floats, both clears both.
  You apply it to the element after the float.

  Containing Floats:
    Floated element resides inside a parent element.
    Parent element acts as a container, leaving the flow completely normal.
    