<!-- Include the header -->
<%- include('partials/header') -%>

<!-- Create bootstrap container -->
<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <!-- Check if there are errors in a variable called "locals.messages.errors." -->
      <% if (locals.messages.errors) { %>

      <!-- Loop through each error message stored in "messages.errors" -->
      <!-- Display alert and error message -->
      <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %>

      <!-- Check for messages in "locals.messages.info." -->
      <% if (locals.messages.info) { %> <% messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>

      <!-- Create the signup form -->
      <form action="/signup" method="POST">
        <div class="mb-3">
          <!-- Define a user name -->
          <label for="userName" class="form-label">User Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
          />
        </div>
        <div class="mb-3">
          <!-- Define a user email -->
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <!-- Define a user password -->
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <div class="mb-3">
          <!-- Confirm user password -->
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
          />
        </div>
        <!-- Submit signup form -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
</main>

<!-- Include the footer -->
<%- include('partials/footer') -%>
