
*{
    border: 1px solid rgb(172 172 172);
    background-color: rgb(216 216 216);
    font-family: "Helvetica", Times, serif;
    box-sizing: border-box;
}


header, footer{
    height: 90px;
    padding: 10px;
}

.container {
    height: auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    /* align-content: flex-start; */
}

.section1{
    /* background-color: orange; */
    flex-grow: 1;
    padding: 10px;
    height: 200px;
    min-width: 100%
}

.section2a{
    /* background-color: yellow; */
    padding: 10px;
    height: 200px;
    flex-grow: 1;
}
.section2b{
    /* background-color: lightgoldenrodyellow; */
    padding: 10px;
    height: 200px;
    flex-grow: 4;
    min-width: 80%
}