/* Contained floats are also called clearfix */

code, header, footer{
  background: #2db34a;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin: 10px;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

header, footer, code, .group, .groupText{
  flex-grow: 1;
}

header, footer{
  width: 100%;
}

.section1{
  flex-grow: 2;
}

.aside1{
  flex-grow: 1;
}

.group {
  background: #eaeaed;
  margin: 10px;
  color: #666;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.groupDescription{
  background: #eaeaed;
  color: #666;
  padding: 5px;
  text-align: center;
  display: block;
  width: 100%;
}