/* Please make the h1 30px, with a little padding on the left, and thin red border */
h1{
    font-size: 30px;
    padding-left: 30px;
    border: thin solid red;
}

/* Please make the h2 25px, with padding on top/bottom, a thick gold border, and margin on the top/bottom */
h2{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: thick solid gold;
    margin-top: 10px;
    margin-bottom: 20px; 
}

/* Please make the spans have a thin black border, a little padding, and blue */
span{
    padding: 5px;
    border: thick solid black;
    background-color: blue;
}
/* Please make the section 25% width, 200px tall, centered, and with a thin purple border */
section{
    width: 25%;
    height: 200px;
    border: thin solid purple;
    
    /* One way to center a section */
    margin: 0 auto;
}