/******************************************
/* General
/*****************************************/

/* Box Model Hack */
* { box-sizing: border-box; }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear { clear: both; }

* {
    /* border: 1px solid black; */
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f9fc;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

div{
    height: 1em;
}

/******************************************
/* Header Section
/*****************************************/

header {
    height: 100px;
}

header div {
    float: left;
    width: 33%;
    margin: 1px;
    height: 97%;
}

.source{
    padding: 15px 20px;
    font-size: 32px;
    font-weight: 600;
    height: 80px;
}

header div ul li{
    float: left;
    width: 24%;
    text-align: center;
    font-size: 20px;
    color: #577186;
}

.button{
    text-align: center;
    padding: 10px 10px;
    background-color: #32485a;
    color: white;
    width: 100px;
    height:60%;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
}

/******************************************
/* Main Section
/*****************************************/

main{
    clear: both;
    height: 620px;
}

.mainText {
    float: left;
    width: 49.5%;
    margin: 2px;
    height: 99%;
}

.mainImage{
    text-align: right;
    float: left;
    height: 99%;
    width: 49.5%;
    margin: 2px;
}

#computerImage {
    height: 100%;
    object-fit: contain;
  }

h1{
    margin-top: 80px;
    padding-left: 33%;
    padding-right: 33%;
    font-size: 45px;
    color: #293d4f;
}

main div div{
    height: 50px;
}

.form{
    width: 50%;
    height: 50px;
    float: left;
}

#search{
    height: 40px;
    width: 250px;
    margin-top: 4px;
    margin-left: 27%;
    background-color: #e0e9f0;
    float: right;
}

.button2{
    text-align: center;
    padding: 5px 30px;
    background-color: #32485a;
    color: white;
    width: 160px;
    height:40px;
    margin-top: 5px;
    margin-right: 27%;
    float: left;
}

#description{
    clear: both;
    width: 100%;
    height: 100px;
    padding-left: 23%;
    padding-right: 33%;
    color: #577186;
    font-size: 18px;
}

p{
    color: #3b4854;
}

/******************************************
/* Nav
/*****************************************/
nav{
    height: 300px;
}

nav div {
    float: left;
    width: 24.7%;
    margin: 1px;
    height: 97%;
    padding: 40px;
}

/******************************************
/* Footer
/*****************************************/

footer, footer h1, footer p{
    background-color: white;
}

footer p{
    color: #577186;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}


#NavHeader{
    padding-left: 15%;
    padding-right: 33%;
}

/******************************************
/* Media Queries
/*****************************************/


/* Small size for Smartphones */
@media screen and (max-width: 1100px) {

    /* Header changes */
        header{
            height: 150px;
        }
        header div {
            float: none;
            width: 100%;
            margin: 1px;
            height: 97%;
        }
        header div ul li{
            float: none;
            width: 100%;
        }
        .source{
            text-align: center;
            
        }
        .button{
            text-align: center;
            padding: 10px 10px;
            background-color: #32485a;
            color: white;
            width: 100%;
            height:40px;
            margin: auto;
        }

    /* Main changes */

        main{
            height: 900px;
            /* background-color: pink; */
        }

        .mainText {
            float: none;
            width: 99%;
            margin: 2px;
            height: 50%;
        }
        
        .mainImage{
            clear: both;
            float: none;
            height: 40%;
            width: 100%;
            margin-top: 50px;
            padding: 5px;
            text-align: center;
            /* background-color: yellow; */
        }

        .form{
            width: 100%;
            height: 50px;
            float: none;
        }

        .button2{
            width: 100%;
        }

        h1{
            margin-top: 25px;
            padding-left: 10%;
            padding-right: 10%;
        }

        #description{
            padding-left: 5%;
            padding-right: 5%;
            /* background-color: lightgreen; */
        }

        #search{
            width: 100%;
            margin-left: 27%;
            text-align: center;
        }

        #computerImage {
            height: 100%;
            object-fit: contain;
            background-color: red;
        }

    /* Nav changes */
        nav{
            height: 1000px;
        }

        nav div {
            width: 100%;
            height: 25%;
        }

    /* Footer changes */

    }

