<!-- Signup page to create an account: username, email, password. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/style_general.css" />
    <link rel="stylesheet" href="css/style_signup.css" />

    <title>SalsaCandela SignUp</title>
  </head>
  <body>
    <div class="logo">
      <a href="/">
        <img src="salsaCandela.png" alt="LogoSalsaCandela" />
      </a>
    </div>

    <!-- Section to add sign up information -->
    <form action="/signup" method="POST">
      <h1>Registrate</h1>

      <!-- Error messages Section -->
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %>

      <label for="userName"> Nombre:</label>
      <input type="text" name="userName" placeholder="Juan Perez" />

      <label for="email"> Email:</label>
      <input type="email" name="email" placeholder="juan.perez@gmail.com" />

      <label for="password"> Contrase単a:</label>
      <input type="password" name="password" placeholder="Contrase単a" />

      <label for="confirmPassword"> Confirmar contrase単a:</label>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirmar contrase単a"
      />

      <button type="submit">Crear Cuenta</button>
    </form>
  </body>
</html>
