
*{
    border: 1px solid rgb(172 172 172);
    background-color: rgb(216 216 216);
    box-sizing: border-box;
    font-family: "Helvetica", Times, serif;
    
}
header, footer{
    height: 90px;
    padding: 10px;
    background-color: lightsalmon;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section1, .section3, .section4{
    padding: 10px;
    height: 300px;
    flex-grow: 1;
    min-width: 250px;
}
.section2{
    padding: 10px;
    height: 300px;
    flex-grow: 2;
    min-width: 250px;
}
