<!-- confirmation.ejs -->
<!-- Render Template -->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="row">
  <div class="col-md-12">

    <div class="logo">
      <a href="/">
        <img src="salsaCandela.png" alt="LogoSalsaCandela">
      </a>
    </div>

    <div class="fondo" id="imagen-qr-confirmacion">
      <h1 class="titulo"> Alumno Inscrito </h1>

      <div class="codigoQr" id="qrcode">
        <img src= <%= qrWww %> alt="" title="" />
      </div>
      <p class="Texto"> <%= idAlumno %></p>
      <p class="Texto">Pablo Cruz Lemini</p>
    </div>

    <div class="fondo">
      <button id="capture-button">Guardar imagen</button>
    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>

</html>
