/* Please Make only Rhino and Zebra Blue */
/* Alternatives */
#rhino, #zebra {
    color: blue;
}
.africa {
    color: blue;
}
.top {
    color: blue;
}

/* Please Make only Hufflepuff Gold */
.harryPotter {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */
/* has both classes. '.' works like 'and' */
section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
    color: red !important;
}

/* Please select Rhino with the highest level of specificity possible */
#rhino {
    color: blueviolet;
}