h1 {
    color: purple;
}

section > h2 {
    color: darkcyan;
}

section > article > h2 {
    color: orange;
}

article h2 {
    color: red;
}

#zebra {
    color: blue;
}

.slytherin {
    font-weight: bold;
}
