<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salsa Candela</title>
    <script
      src="https://kit.fontawesome.com/1450436a40.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style_intro.css" />
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <a href="#">Salsa Candela</a>
        </div>
        <ul class="links">
          <li><a href="party">Registro fiesta</a></li>
          <li><a href="search">Busqueda</a></li>
          <li><a href="report/party">Reporte</a></li>
        </ul>
        <a href="login" class="action_btn">Iniciar sesion</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="dropdown_menu">
        <li><a href="enroll">Inscripcion</a></li>
        <li><a href="search">Busqueda</a></li>
        <li><a href="report/party">Reporte</a></li>
        <li><a href="login" class="action_btn">Iniciar sesion</a></li>
      </div>
    </header>

    <main>
      <section id="hero">
        <h1>Bienvenido</h1>
        <p>Control de acceso de Salsa Candela.</p>
      </section>
    </main>

    <script type="text/javascript" src="js/intro.js"></script>
  </body>
</html>
